<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Shaquille Hinds. It uses data from mapbox.com and openweathermap.org</p>
        <img class="portrait" src="./img/Img00351.jpg" alt="self portrait">
    </div>

    {{>footer}}
</body>

</html>